.mode-game {
  background-color: #1d2b3a;
  height: 650px;
  color: white;
  padding: 60px 0 0 0;
}

.mode-game__header {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  padding: 0 8%;
}
.mode-game__question-container {
   width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
}
.mode-game__question-place {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  padding: 0 15%;
  position: absolute;
  width: 100%;
}
.animation-left {
  animation: hide 0.5s ease-in-out forwards;
}
.animation-right {
  animation: show 0.8s ease-in-out forwards;
}

.mode-game__question-place div {
  width: 100%;
  display: flex;
  font-size: 66px;
  font-weight: 600;
}
main input {
  border: 3px solid #00dfc4;
  border-radius: 8px;
  width: 200px;
  font-size: 66px;
  padding: 2vw;
  color: white;
  font-weight: 600;
  background: transparent;
}

#progress{
  width: 93%;
  height: 20px;
  margin: 4px 0 auto;
  border-radius: 10px;
  background-color: hsla(0,0%,100%,.1);
  border: 1px solid #00dfc4;
}
#progress-bar{
  height: 20px;
  background-color: #00dfc4;
  border-radius: 10px;
}

.mode-game__time {
  display: none;
  width: 100%;
  padding: 0 8%;
}

.mode-game__box{
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.mode-game__user-name{
  font-weight: 500;
}

.mode-game__timer {
  font-size: 24px;
}
.mode-game__btn {
  width: 170px;
  background-color: transparent;
  border: 3px solid #00d7c3;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #00d7c3;
  text-transform: uppercase;
}

.mode-game__btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.mode-game__scores {
  position: absolute;
  bottom: 40px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mode-game__score {
  font-weight: 400;
  width: 100px;
  text-align: start;
}

.win {
  font-weight: 400;
  font-size: 32px;
  text-align: end;
}

.plus {
  display: none;
  position: absolute;
  animation: plus 1s ease-in-out forwards;
  color: rgb(72, 255, 72);
  margin-left: 100px;
  font-size: 22px;
  font-weight: 800;
}

.minus {
  display: none;
  position: absolute;
  animation: minus 1s ease-in-out forwards;
  color: rgb(255, 30, 30);
  margin-left: 100px;
  font-size: 22px;
  font-weight: 800;
}

.visible {
  display: block;
}
.mode-game__info{
  display: flex;
}
.twitch {
  animation: twitch 0.4s ease-in-out forwards;  
}
@keyframes plus {
  from {
    opacity: 0.2;
    top: 50%;
  }

  to {
    opacity: 1;
    top: -130%;
  }
}

@keyframes minus {
  from {
    opacity: 0.2;
    top: 30%;
  }

  to {
    opacity: 1;
    top: -100%;
  }
}

@keyframes hide {
  from {
    opacity: 0.2;
    left: 100%;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes show {
  from {
    opacity: 0.5;
    left: 0%;
  }

  to {
    opacity: 1;
    left: -130%;
  }
}

@keyframes twitch {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 1115px) {
  main input {
    width: 160px;
    height: 130px;
  }
  .mode-game__level {
    margin-left: 260px;
  }
}

@media (max-width: 750px) {
  main input{
    width: 130px;
    height: 100px;
  }
  .mode-game__question-place, .mode-game__header, .mode-game__time   {
    padding: 0 6%;
  }
}
@media (max-width: 510px) {
 .mode-game__timer {
  padding-top: 5px;
  font-size: 17px;
 }
 .mode-game__user-name {
  padding-top: 5px;
  font-size: 18px;
 }
 .mode-game__btn {
  width: 150px;
  padding: 2px 0;
 }
 .mode-game__question-place {
  margin-top: 100px;
 }
}
@media (max-width: 385px) {
  .mode-game__header {
    margin-bottom: 25px;
  }
  .mode-game__user-name {
    padding-top: 5px;
    font-size: 16px;
   }
   .mode-game__btn {
    width: 130px;
    padding: 2px 0;
   }
   .mode-game__question-place div {
    font-size: 55px;
   }
}

@media (max-width: 355px) {
  .mode-game__user-name {
    padding-top: 5px;
    font-size: 14px;
   }
   .mode-game__btn {
    width: 110px;
    padding: 2px 0;
   }
   .mode-game__question-place input{
    width: 100px;
    height: 100px;
  }
}