.game-over {
    background-color: #1d2b3a;
    background-image: url('../../assets/icons/confetti.svg');
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 25px; */
    color: white;
    height: 100vh;
}

.game-over__container  {
    background-color: #32455a;
    width: 50%;
    height: 80vh;
    border-radius: 8px;
    top: 45px;
    bottom: 50px;
    padding: 15px;
    margin: 25px;
    position: absolute;
}

.game-over__content {
    text-align: center;
}

.game-over__score-num {
    font-size: 72px;
    margin: 15px 0;
}

.correct-el {
    margin-bottom: 5px;
}

.game-over__btns {
    padding-top: 30px;
}

.game-over__btn {
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-position: 100%;
    width: 180px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: white;
}

.game-over__btn:hover {
    background-image: -webkit-linear-gradient(30deg, #00dfc4 50%, transparent 50%);
    background-image: linear-gradient(30deg, #00dfc4 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    color: #000;
    border: 1px solid#00dfc4;
    transition: all 0.6s
}


.game-over__heading{
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 70px;
}

.subtitle {
    font-size: 34px;
    line-height: 48px;
    font-weight: 400;
}
.game-over__level {
    font-size: 38px;
    text-transform: uppercase;
}

@media (max-width: 1115px) {
    .game-over__container  {
        width: 60%;
    }
}
@media screen and (max-height: 620px) {
        .game-over__container  {
            height: 90vh;
            top: 0;
            bottom: 0;
        }
}
h3 {
    margin-top: 30px;
    font-size: 26px;
  }

@media (max-width: 850px) {
    .game-over__container  {
        width: 75%;
    }
}

@media (max-width: 689px) {
    .game-over__container  {
        width: 90%;
    }
}

@media (max-width:521px) {
    .title {
        font-size: 40px;
    }
    .subtitle {
         font-size: 30px;
    }
    .game-over__score-num {
        margin: 5px 0;
    }
    .game-over__btns {
        padding-top: 15px;
    }
    .game-over__btn {
        padding: 10px 0;
        margin: 0 0 10px 0;
    }  
}