.game-over {
    background-color: #1d2b3a;
    background-image: url('../../assets/icons/confetti.svg');
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 90px 0; */
    padding: 5% 0;
    color: white;
    height: 100vh;
}

.game-over__container  {
    background-color: #32455a;
    width: 50%;
    height: 80vh;
    /* width: 700px; */
    padding: 15px;
    /* margin: 20px; */
}

.game-over__content {
    text-align: center;
}

.game-over__score-num {
    font-size: 72px;
    margin: 15px 0;
}

.correct-el {
    margin-bottom: 5px;
}

.game-over__btns {
    padding-top: 30px;
}

.game-over__btn {
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-position: 100%;
    width: 180px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: white;
}

.game-over__btn:hover {
    background-image: -webkit-linear-gradient(30deg, #00dfc4 50%, transparent 50%);
    background-image: linear-gradient(30deg, #00dfc4 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    color: #000;
    border: 1px solid#00dfc4;
    transition: all 0.6s
}


.game-over__heading{
    display: flex;
    justify-content: space-between;
}
.game-over__level {
    font-size: 20px;
    text-transform: uppercase;
    margin: 4px 2% 0 0;
}

@media (max-width: 1115px) {
    .game-over  {
        padding: 5% 0;
    }
    .game-over__container  {
        width: 60%;
        margin: 20px;
    }
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 30px;
    }
    .game-over__score-num {
        margin: 5px 0;
    }
    .game-over__btns {
        padding-top: 15px;
    }
    .game-over__btn {
        padding: 10px 0;
    }
}

@media (max-width: 850px) {
    .game-over  {
        padding: 7% 0;
    }
    .game-over__container  {
        width: 75%;
    }
}


@media (max-width: 689px) {
    .game-over__container  {
        width: 90%;
    }
}
@media (max-width: 607px) {
    .game-over  {
        padding: 8% 0;
    }
    .game-over__container  {
        width: 100%;
    }
}

@media (max-width:521px) {
    .game-over__btn  {
        margin-bottom: 10px;
    }
    .game-over  {
        padding: 0;
    }
    .game-over__container  {
        width: 100%;
        height: 90vh;
    }
}

/* @media (max-width: 425px) {
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 30px;
    }
    .game-over__score-num {
        margin: 5px 0;
    }
    .game-over__btns {
        padding-top: 15px;
    }
    .game-over__btn {
        padding: 10px 0;
    }
} */