*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.back-page {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;

}
.arrow {
  width: 50px;
}