.modal-page {
    display: none; 
    position: fixed; 
    z-index: 80; 
    padding: 7% 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-page__content {
    margin: auto;
    background-color: beige;
    padding: 30px 30px 70px 30px;
    max-width: 650px;
    color: #243446;
    border-radius: 8px;
}

.rules__title {
    font-size: 40px;
    text-align: center;
}

.rules__list {
    font-size: 20px;
    margin: 0 20px
}

.rules__list li {
    margin-top: 20px;
    font-weight: 500;
}

.modal-page__close:hover, #open-modal:hover {
    cursor: pointer;
}
@media screen and (max-width:632px) {
    .modal-page__content {
        padding: 15px 15px 50px 15px;
    }
}
@media screen and (max-width:600px){
    .modal-page{
        padding: 11% 15px;
    }
    .rules__title {
        font-size: 30px;
    }
    .rules__list li {
        font-size: 16px;
    }
    .modal-page__close{
        width: 20px;
    }
}

@media screen and (max-width:375px) {
    .rules__title {
        font-size: 26px;
        padding-top: 5px;
    }
    .rules__list li {
        font-size: 14px;
    }
}